<label for="date-max">Clé api :</label>
<br>
<input [(ngModel)]="p_apiKey"   type="text" id="apiKey" name="apiKey">
<br>
<label for="search">Rechercher :</label>
<br>
<input [(ngModel)]="p_text"   type="text" id="search" name="search">
<br>
<label for="date-min">Date minimum d'upload :</label>
<br>
<input [(ngModel)]="p_dateMin" type="date" id="date-min" name="date-min">
<br>
<label for="date-max">Date maximum d'upload :</label>
<br>
<input [ngModel]="p_dateMax" type="date" id="date-max" name="date-max">
<br>
<label for="date-max">Appartient à une galerie :</label>
<br>
<select [(ngModel)]="p_gallerie"  name="p_gallerie" >
  <option [ngValue]="true">True</option>   // value: "Second"
  <option [ngValue]="false" selected >False</option>
</select>
<br>
<button (click)="callService()">Envoyer au service</button>
